@import "src/Mixins/mixins";
.heart{
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 30px;
  border-top:2px solid #46A358;
  position:relative;
  width: 240px;
  margin-top: 38px;
  &__pic{
    margin-bottom:31px;
  }
  &__img{
    width: 250px;
    height: 250px;
  }
  &__title{
    @include text(400,16px,16px,#3D3D3D);
    margin-bottom: 6px;
  }
  &__price{
    @include text(700,18px,16px,#46A358);
  }
  &__icons{
    display: flex;
    column-gap: 26px;
    justify-content: center;
  }
  &__basket,&__heart,&__search{
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: #00000008;
  }
}